#applicationlayout {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
#applicationlayout .header {
	padding: 10px;
}
#applicationlayout .content {
	flex: 1;
	padding: 10px;
}
#applicationlayout .navigation {
	float: left;
}
#applicationlayout .navigation vaadin-button {
	margin-right: 10px;
}
#applicationlayout .localeswitch {
	float: right;
}
#applicationlayout .localeswitch vaadin-button {
	margin-left: 10px;
}
#applicationlayout .footer {
	border-top: 1px dashed;
	text-align: center;
	padding: 10px;
}